
{% extends 'base.html.twig' %}

{% block title %}Verifica tu correo{% endblock %}

{% block body %}
    <h1>Verificación de Correo</h1>
    <p>Se ha enviado un correo de verificación a tu correo electrónico. Por favor, revisa tu bandeja de entrada y haz clic en el enlace para confirmar tu cuenta.</p>
{% endblock %}
