
{% extends 'base.html.twig' %}

{% block title %}Error en la confirmación{% endblock %}

{% block body %}
    <h1>Error en la confirmación de tu correo electrónico</h1>
    <p>El enlace de confirmación es inválido o ha expirado. Por favor, asegúrate de que el enlace sea correcto.</p>
{% endblock %}
