{% extends 'base.html.twig' %}

{% block title %}Preguntas respondidas{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Preguntas respondidas</h1>

    <!-- Tabla personalizada -->
    <table class="table">
        
        <tbody>
            {% for pregunta in pagination %}
                <tr>
             
                    <td class="pregunta_enun">{{ pregunta.enunciado }}</td>  <!-- Enunciado de la pregunta -->
                    <td>
                        <!-- Enlace para ver la pregunta -->
                        <a class="responder-btn btn btn-info" href="{{ path('pregunta_show', {id: pregunta.id}) }}">Show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">No se encontraron preguntas respondidas.</td>  <!-- Mensaje si no hay preguntas -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Controles de paginación -->
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}  <!-- Renderiza los controles de paginación -->
    </div>
</div>
{% endblock %}