{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>List of Questions</h1>
    <ul>
        {% for question in questions %}
            <li>{{ question }}</li>
        {% endfor %}
    </ul>
{% endblock %}